src/main/mule/AirIndiaTargetSystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="68169604-97ee-4670-b17e-98cb18e39722" >
		<wsc:connection wsdlLocation=" http://airindia-airlines.us-e2.cloudhub.io/airindia?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://airindia-airlines.us-e2.cloudhub.io/airindia" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<api-gateway:autodiscovery apiId="18118831" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="7bd4bdd1-bf7c-4023-bdfb-8ddc7bb83475" flowRef="airindiaflightsapi-main" />
	<flow name="AirIndiaTargetSystemFlow" doc:id="619a44a9-7388-48ea-97cc-e3b3af20a641" >
		<logger level="INFO" doc:name="Logger" doc:id="7382af10-b6cf-42c3-8e03-ecc83e6f927e" message="AirIndiaTargetSystem flow starts-----------#[attributes.queryParams]"/>
		<ee:transform doc:name="Transform Message" doc:id="4a0e9ba0-09ef-4a50-847f-933486deb0a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getFlights: {
		from: attributes.queryParams.source as String,
		to: attributes.queryParams.destination as String,
		depatureDate: attributes.queryParams.doj as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getFlights" doc:id="eb8b6ca3-d5e8-40b1-a303-a580b166ce26" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="386557ce-fad0-44fb-a3cc-1f7c998f2865" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
